<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">Sif Sigmarsdóttir</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
            <li style="margin-bottom:5px;">
            Sign up for my newsletter:
            </li>

            <div class="createsend-button" style="height:22px;display:inline-block;" data-listid="r/02/CF8/589/726FCC3F9A36D56C">
            </div><script type="text/javascript">(function () { var e = document.createElement('script'); e.type = 'text/javascript'; e.async = true; e.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://btn.createsend1.com/js/sb.min.js?v=3'; e.className = 'createsend-script'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(e, s); })();</script>

        </ul>

        <ul class="social-media-list">
          <li style="margin-bottom:5px;">
          Find me on social media:
          </li>
          {% if site.github_username %}
          <li>
            {% include icon-facebook.html username=site.facebook_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          <li>
            {% include icon-instagram.html username=site.instagram_username %}
          </li>
          {% endif %}
        </ul>

      </div>

      <div class="footer-col footer-col-2" style="text-align:left;">
          <a href="/books/"><img src="/assets/img/i-am-traitor-w100.jpg" class="shadow"/></a>
      </div>

      <div class="footer-col footer-col-3">
        <p><em>They came for my planet. Now they are coming for me... </em></p>
        <p>
          I'm an author and journalist originally from Iceland, living in London.
          My book <a href="/books">I am Traitor</a> is published by Hodder Children's Books. I'm represented by <a href="http://www.sophiehicksagency.com/">Sophie Hicks Agency</a>.
        </p>
      </div>
    </div>

  </div>

</footer>
