---
layout: default
header: false
---

<div class="home">

  <header class="post-header">
    <h1 class="post-title">Press and reviews</h1>
  </header>


  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.link %}
        {% assign thelink = post.link %}
      {% else %}
        {% capture relative_link %}{{post.url | relative_url}}{% endcapture %}
        {% assign thelink = relative_link %}
      {% endif %}

      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.category | capitalize}}</span>

        <h2>
          <a target="_blank" class="post-link" href="{{ thelink }}">{{ post.title | escape }}</a>
        </h2>
        {% if post.stars %}
          {% if post.stars == 4 %}
            <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
          {% endif %}
          {% if post.stars == 4.5 %}
            <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-half"></span>
          {% endif %}
          {% if post.stars == 5 %}
            <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
          {% endif %}
        {% endif%}
        {% if post.excerpt %}
        <h3 style="display:inline;"><a target="_blank" class="" href="{{ thelink }}">{{ post.excerpt | escape }} <small>Read more &rarr;</small></a></h3>
        {% endif %}
      </li>
    {% endfor %}
  </ul>


  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
